<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wei.mapper.TUserMapper">


 <select id="listTest" parameterType="java.util.Map"
         resultType="com.wei.entity.TUser"
 >
  select * from t_user
 </select>
 <select id="testWrapper"
         resultType="com.wei.entity.TUser"
 >
  select * from t_user
  <where>
   ${ew.sqlSegment}
  </where>
 </select>


</mapper>
